

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  margin: 0;
  padding: 0;
  font-size : 16px;
  width : 100vw;
  line-height: inherit;
}

a:link {
  color : inherit;
  text-decoration: none;
}

a:visited {
  color : inherit;
  text-decoration: none;
}

a:link:active {
  color : inherit;
  text-decoration: none;
}

a:visited:active {
  color : inherit;
  text-decoration: none;
}

/* disable all button default styles */
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button:focus {
  outline: none;
}

button:active {
  outline: none;
}

button:hover {
  outline: none;
}

/* disable all input default styles */
input {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: text;
  outline: inherit;
}

input:focus {
  outline: none;
}

input:active {
  outline: none;
}

input:hover {
  outline: none;
}

/* disable input number arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}


